.recruitment-activity
	%span.message 
		=recruitment_activity.message 
	%span.recruiter 
		=recruitment_activity.recruiter.name
	%span.timestamp
		="#{time_ago_in_words(recruitment_activity.updated_at)} ago"