!black = #000000
!white = #FFFFFF
!green= #6BBA70

!light_yellow= #FFFF88
!dark_yellow= #FFCC00

!light_red= #CC0000
!dark_red = #990000

!light_gray= #EEEEEE
!dark_gray= #444343

!content_background = #FFFFBE

=round-top-corner(!radius)
	-moz-border-radius-topright: #{!radius}
	-moz-border-radius-topleft: #{!radius}
	-webkit-border-top-left-radius: #{!radius}
	-webkit-border-top-right-radius: #{!radius}

=round-corner(!radius)
	-moz-border-radius: #{!radius}
	-webkit-border-radius: #{!radius}

=shadow-side()
	-webkit-box-shadow: 5px 5px 10px #999
	-moz-box-shadow: 5px 5px 10px #999
	
body
	background-color= !light_gray
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif

a 
	text-decoration: none
	
li 
	list-style-type: none

ul, ol 
	margin:0 1.5em 1.5em;

.container
	margin-bottom: 80px
	
.page
	background-color= !dark_red
	height: 79px
	padding: 20px 10px 5px 0px
	.company-title
		font-size: 30px
		color= !dark_yellow
	.user
		font-size: 22px
		color= !white
	.global-candidate-selection
		
.navigation
	margin-top: 15px
	color= !white
	background-color= !dark_red
	font-weight: bold 
	text-align: center
	.navigation-item
		background-color= !light_red
		border-left= "1px #{!dark_red} solid"
		border-right= "1px #{!dark_red} solid"
		padding: 3px
		float: left
		width: 100px
		a
			color= !white
	.selected
		background-color= !light_gray
		a
			color= !dark_red
		
.content

.content-section
	margin: 15px 10px 10px 0px
	background-color: white
	+shadow-side
	.title
		background-color= !light_yellow
		color= !dark_red
		font-size: 12px
		font-weight: bold
		padding: 5px 0 5px 20px
	.title-links a
		font-size: 90%
		margin: 0px 2px 0 2px
	.title-links a.selected
		+round-corner(5px)
		color= !black
		background-color= !dark_yellow
		padding: 2px
		
	.title-subheader
		color= !dark_red
		font-weight: bold
		margin-bottom: 15px

.sidebar
	margin: 15px
	height: 600px
	
.empty-collection-message
	color= !dark_red
	text-align: center
	font-weight: bold
	margin: 10px

.edit-record
	font-size: 40%

.candidates
	margin: 20px 0 0 10px
	.candidate
		background-color= !content_background
		padding: 5px
		border= "#{!light_yellow} solid 4px"
		+round-corner(10px)
		margin: 5px 20px 20px 5px
		label
			color= !dark_red
		ul
			list-style-type: none
			.action-links a
				padding: 2px 4px 0px 0px
				font-size: 8px
				font-weight: bold
				text-transform: uppercase
				a 
					padding-right: 5px
				
		.recruitment-steps
			margin: 0px 0px 10px 15px
			a
				color= !white
		.completed
			padding: 3px 7px 3px 7px
			background-color= !green
			font-size: 85%
		.upcoming
			padding: 3px 7px 3px 7px
			background-color= !dark_yellow
			font-size: 85%
		.unscheduled
			padding: 3px 7px 3px 7px
			background-color= !dark_gray
			font-size: 85%
			
.bold-button, a.bold-button
	background-color= !light_red
	border-width: 0px
	font-weight: bold
	color= !white
	padding: 5px 20px 5px 20px
	+shadow-side()

.form-button
	background-color= !light_yellow
	border-width: 0px
	font-size: 90%
	font-weight: bold
	padding: 1px 10px 1px 10px
	+round-corner(5px)
	
.new-candidate
	background-color= !content_background
	margin: 20px 20px 5px 20px
	padding: 10px 0px 10px 25px
	border= "#{!light_yellow} solid 4px"
	+round-corner(10px)
	label
		color= !dark_red
		font-weight: bold
	.profile
		profile
	textarea
		height: 120px
		width: 100%
		font-size: 90%
	#recruitment_step_selections, #recruiter_selections
		padding: 5px
		font-size: 90%
		font-weight: bold

.field-error input, .field-error select, select.field-error
	border= "#{!light_red} solid 2px"

.time
	text-transform: uppercase
	text-align: center

	.month-time
		font-size: 90%	
		background= !dark_red
		border= !dark_red 2px solid
		color= !white
		.date-time
			color= !black
			font-size: 150%
			font-weight: bold
			background= !white
	.timestamp
		font-size: 60%
		color: gray
		
.events
	margin: 20px 0 0 10px
	.event
		padding: 5px
		border-bottom= "#{!light_gray} solid 1px"
		margin: 5px 20px 5px 10px
		label
			color= !dark_red
		ul
			list-style-type: none
		.event-calendar
			margin-top: 10px
		.event-title
			font-weight: bold
.new-event
	background-color= !content_background
	margin: 15px 20px 5px 15px
	padding: 10px 10px 10px 10px
	border= "#{!light_yellow} solid 4px"
	+round-corner(10px)

	label
		color= !dark_red
		font-weight: bold

.schedule-selection
	.view-profile
		font-weight: normal
		font-size: 40%
		font-style: italic
		
#recruitment-steps	
	.scheduled_true
		background-color= !green
	.scheduled_false
		background-color= !dark_gray
	.recruitment-step-header
		font-size: 10px	
		padding: 5px
		margin: 1px
		padding: 5px
		a 
			padding: 2px
			color: white
		
	.recruitment-step-content
		background-color: white
		padding: 5px
		margin: 1px
		height: 100px

.calendar
	width: 80px 

.completed-event-title
	font-weight: normal
	background-color= !green
	padding: 2px 5px 2px 5px
	text-align: center
	color: white
	font-size: 85%
	+round-corner(3px)

.upcoming-event-title
	font-weight: normal
	background-color= !dark_yellow
	text-align: center
	padding: 2px 5px 2px 5px
	color: white
	font-size: 85%
	+round-corner(3px)
	
.unscheduled-event-title
	font-weight: normal
	background-color= !dark_gray
	text-align: center
	padding: 2px 5px 2px 5px
	color: white
	font-size: 85%
	+round-corner(3px)

.dashboard
	a
		font-weight: bold
	label
		color= !dark_red
	ul
		list-style-type: none
	.upcoming-event
		cursor: pointer
		cursor: hand
	.events
		margin: 20px 0px 0px 30px
	#upcoming-event-detail
		background-color= !content_background
		border= "#{!light_yellow} solid 4px"
		+round-corner(10px)	
		margin: 10px 20px 20px 0px

.recruitment-activities
	margin: 20px 30px 20px 20px
	.recruitment-activity
		padding: 7px
		border-bottom= "#{!light_gray} solid 1px"
		+round-corner(10px)
		.message
			font-size: 90%
			font-weight: bold
		.recruiter
			font-style: italic
			text-align: right
			font-size: 50%
			color: gray
		.timestamp
			font-style: italic
			text-align: right
			font-size: 50%
			color: gray
			
.feedbacks
	margin: 20px 0 0 10px
	.feedback
		background-color= !content_background
		padding: 10px 20px 10px 20px
		border= "#{!light_yellow} solid 4px"
		+round-corner(10px)
		margin: 5px 20px 20px 5px
		.interviewer
			color= !dark_red
		.timestamp
			font-size: 50%
			color: gray
			font-style: italic
			text-align: right
		.recruitment-step
			font-size: 80%
			font-style: italic
		.comment
			font-family: monospace
#feedback_comment
	font-size: 8px
	width: 95%
	height: 400px