body {
  background-color: #DDDDDD;
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif; }

a {
  text-decoration: none; }

.page {
  background-color: #990000;
  height: 79px;
  padding: 20px 10px 5px 0px; }
  .page .title {
    font-size: 30px;
    color: #FFCC00; }
  .page .user {
    font-size: 22px;
    color: #FFFFFF; }

.navigation {
  margin-top: 15px;
  background-color: #990000;
  font-weight: bold;
  text-align: center; }
  .navigation .navigation-item {
    background-color: #CC0000;
    border-left: 1px #990000 solid;
    border-right: 1px #990000 solid;
    padding: 3px;
    float: left;
    width: 100px; }
    .navigation .navigation-item a {
      color: #FFFFFF; }
  .navigation .selected {
    background-color: #DDDDDD; }
    .navigation .selected a {
      color: #990000; }

.content {
  margin: 15px 10px 10px 0px;
  background-color: white;
  height: 600px;
  -webkit-box-shadow: 5px 5px 7px #999;
  -moz-box-shadow: 5px 5px 7px #999; }

.content-section .title {
  background-color: #FFFF99;
  color: #990000;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0 5px 20px; }
.content-section .title-links a {
  padding-left: 10px;
  font-size: 85%; }

.sidebar {
  margin: 15px;
  height: 600px; }
