body {
  background-color: #eeeeee;
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }


.container {
  margin-bottom: 80px; }

.page {
  background-color: #990000;
  height: 79px;
  padding: 20px 10px 5px 0px; }
  .page .company-title {
    font-size: 30px;
    color: #ffcc00; }
  .page .user {
    font-size: 22px;
    color: white; }

.navigation {
  margin-top: 15px;
  color: white;
  background-color: #990000;
  font-weight: bold;
  text-align: center; }
  .navigation .navigation-item {
    background-color: #cc0000;
    border-left: 1px #990000 solid;
    border-right: 1px #990000 solid;
    padding: 3px;
    float: left;
    width: 100px; }
    .navigation .navigation-item a {
      color: white; }
  .navigation .selected {
    background-color: #eeeeee; }
    .navigation .selected a {
      color: #990000; }


.content-section {
  margin: 15px 10px 10px 0px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px #999;
  -moz-box-shadow: 5px 5px 10px #999; }
  .content-section .title {
    background-color: #ffff88;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 20px; }
  .content-section .title-links a {
    font-size: 90%;
    margin: 0px 2px 0 2px; }
  .content-section .title-links a.selected {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    background-color: #ffcc00;
    padding: 2px; }
  .content-section .title-subheader {
    color: #990000;
    font-weight: bold;
    margin-bottom: 15px; }

.sidebar {
  margin: 15px;
  height: 600px; }

.empty-collection-message {
  color: #990000;
  text-align: center;
  font-weight: bold;
  margin: 10px; }

.edit-record {
  font-size: 40%; }

.candidates {
  margin: 20px 0 0 10px; }
  .candidates .candidate {
    background-color: #ffffbe;
    padding: 5px;
    border: #ffff88 solid 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px 20px 20px 5px; }
    .candidates .candidate label {
      color: #990000; }
    .candidates .candidate ul {
      list-style-type: none; }
      .candidates .candidate ul .action-links a {
        padding: 2px 4px 0px 0px;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase; }
        .candidates .candidate ul .action-links a a {
          padding-right: 5px; }
    .candidates .candidate .recruitment-steps {
      margin: 0px 0px 10px 15px; }
      .candidates .candidate .recruitment-steps a {
        color: white; }
    .candidates .candidate .completed {
      padding: 3px 7px 3px 7px;
      background-color: #6bba70;
      font-size: 85%; }
    .candidates .candidate .upcoming {
      padding: 3px 7px 3px 7px;
      background-color: #ffcc00;
      font-size: 85%; }
    .candidates .candidate .unscheduled {
      padding: 3px 7px 3px 7px;
      background-color: #444343;
      font-size: 85%; }

.bold-button, a.bold-button {
  background-color: #cc0000;
  border-width: 0px;
  font-weight: bold;
  color: white;
  padding: 5px 20px 5px 20px;
  -webkit-box-shadow: 5px 5px 10px #999;
  -moz-box-shadow: 5px 5px 10px #999; }

.form-button {
  background-color: #ffff88;
  border-width: 0px;
  font-size: 90%;
  font-weight: bold;
  padding: 1px 10px 1px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.new-candidate {
  background-color: #ffffbe;
  margin: 20px 20px 5px 20px;
  padding: 10px 0px 10px 25px;
  border: #ffff88 solid 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .new-candidate label {
    color: #990000;
    font-weight: bold; }
  .new-candidate textarea {
    height: 120px;
    width: 100%;
    font-size: 90%; }
  .new-candidate #recruitment_step_selections, .new-candidate #recruiter_selections {
    padding: 5px;
    font-size: 90%;
    font-weight: bold; }

.field-error input, .field-error select, select.field-error {
  border: #cc0000 solid 2px; }

.field-error-group {
  border: #cc0000 solid 2px; }

.time {
  text-transform: uppercase;
  text-align: center; }
  .time .month-time {
    font-size: 90%;
    background: #990000;
    border: #990000 2px solid;
    color: white; }
    .time .month-time .date-time {
      color: black;
      font-size: 150%;
      font-weight: bold;
      background: white; }
  .time .timestamp {
    font-size: 60%;
    color: gray; }

.events {
  margin: 20px 0 0 10px; }
  .events .event {
    padding: 5px;
    border-bottom: #eeeeee solid 1px;
    margin: 5px 20px 5px 10px; }
    .events .event label {
      color: #990000; }
    .events .event ul {
      list-style-type: none; }
    .events .event .event-calendar {
      margin-top: 10px; }
    .events .event .event-title {
      font-weight: bold; }
    .events .event .edit-link {
      font-size: 70%;
      font-weight: normal; }

.new-event {
  background-color: #ffffbe;
  margin: 20px 20px 5px 20px;
  padding: 10px 0px 10px 25px;
  border: #ffff88 solid 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .new-event label {
    color: #990000;
    font-weight: bold; }
  .new-event textarea {
    height: 120px;
    width: 90%;
    font-size: 90%; }
  .new-event .interviewer_selection {
    font-size: 90%; }

.schedule-selection .view-profile {
  font-weight: normal;
  font-size: 40%;
  font-style: italic; }

#recruitment-steps .scheduled_true {
  background-color: #6bba70; }
#recruitment-steps .scheduled_false {
  background-color: #444343; }
#recruitment-steps .recruitment-step-header {
  font-size: 10px;
  padding: 5px;
  margin: 1px;
  padding: 5px; }
  #recruitment-steps .recruitment-step-header a {
    padding: 2px;
    color: white; }
#recruitment-steps .recruitment-step-content {
  background-color: white;
  padding: 5px;
  margin: 1px;
  height: 100px; }

.calendar {
  width: 80px; }

.completed-event-title {
  font-weight: normal;
  background-color: #6bba70;
  padding: 2px 5px 2px 5px;
  text-align: center;
  color: white;
  font-size: 85%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.upcoming-event-title {
  font-weight: normal;
  background-color: #ffcc00;
  text-align: center;
  padding: 2px 5px 2px 5px;
  color: white;
  font-size: 85%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.unscheduled-event-title {
  font-weight: normal;
  background-color: #444343;
  text-align: center;
  padding: 2px 5px 2px 5px;
  color: white;
  font-size: 85%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.dashboard a {
  font-weight: bold; }
.dashboard label {
  color: #990000; }
.dashboard ul {
  list-style-type: none; }
.dashboard .upcoming-event {
  cursor: pointer;
  cursor: hand; }
.dashboard .events {
  margin: 20px 0px 0px 30px; }
.dashboard #upcoming-event-detail {
  background-color: #ffffbe;
  border: #ffff88 solid 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 10px 20px 20px 0px; }

.recruitment-activities {
  margin: 20px 30px 20px 20px; }
  .recruitment-activities .recruitment-activity {
    padding: 7px;
    border-bottom: #eeeeee solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    .recruitment-activities .recruitment-activity .message {
      font-size: 90%;
      font-weight: bold; }
    .recruitment-activities .recruitment-activity .recruiter {
      font-style: italic;
      text-align: right;
      font-size: 50%;
      color: gray; }
    .recruitment-activities .recruitment-activity .timestamp {
      font-style: italic;
      text-align: right;
      font-size: 50%;
      color: gray; }

.feedbacks {
  margin: 20px 0 0 10px; }
  .feedbacks .feedback {
    background-color: #ffffbe;
    padding: 10px 20px 10px 20px;
    border: #ffff88 solid 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px 20px 20px 5px; }
    .feedbacks .feedback .interviewer {
      color: #990000; }
    .feedbacks .feedback .timestamp {
      font-size: 50%;
      color: gray;
      font-style: italic;
      text-align: right; }
    .feedbacks .feedback .recruitment-step {
      font-size: 80%;
      font-style: italic; }
    .feedbacks .feedback .feedback-result {
      font-size: 80%;
      font-style: italic;
      font-weight: bold; }
    .feedbacks .feedback .comment {
      font-family: monospace; }

#feedback_comment {
  font-size: 8px;
  width: 95%;
  height: 400px; }
