body {
  background-color: #eeeeee;
  font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif; }

a {
  text-decoration: none; }

a:focus, a:hover {
  color: white; }


.page {
  background-color: #990000;
  height: 79px;
  padding: 20px 10px 5px 0px; }
  .page .title {
    font-size: 30px;
    color: #ffcc00; }
  .page .user {
    font-size: 22px;
    color: white; }

.navigation {
  margin-top: 15px;
  color: white;
  background-color: #990000;
  font-weight: bold;
  text-align: center; }
  .navigation .navigation-item {
    background-color: #cc0000;
    border-left: 1px #990000 solid;
    border-right: 1px #990000 solid;
    padding: 3px;
    float: left;
    width: 100px; }
    .navigation .navigation-item a {
      color: white; }
  .navigation .selected {
    background-color: #eeeeee; }
    .navigation .selected a {
      color: #990000; }


.content-section {
  margin: 15px 10px 10px 0px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px #999;
  -moz-box-shadow: 5px 5px 10px #999; }
  .content-section .title {
    background-color: #ffff88;
    color: #990000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 20px; }
  .content-section .title-links a {
    font-size: 90%;
    margin: 0px 2px 0 2px; }
  .content-section .title-links a.selected {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    background-color: #ffcc00;
    padding: 2px; }
  .content-section .title-subheader {
    color: #990000;
    font-weight: bold;
    margin-bottom: 15px; }

.sidebar {
  margin: 15px;
  height: 600px; }

.candidates {
  margin: 20px 0 0 10px; }
  .candidates .candidate {
    background-color: #ffffbe;
    padding: 5px;
    border: #ffff88 solid 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 5px 20px 20px 5px; }
    .candidates .candidate label {
      color: #990000; }
    .candidates .candidate ul {
      list-style-type: none; }
      .candidates .candidate ul .action-links a {
        padding: 2px 4px 0px 0px;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase; }
        .candidates .candidate ul .action-links a a {
          padding-right: 5px; }
    .candidates .candidate .recruitment_steps {
      margin: 0px 0px 10px 15px; }
      .candidates .candidate .recruitment_steps a {
        color: white;
        text-decoration: underline; }
    .candidates .candidate .completed {
      padding: 3px 7px 3px 7px;
      background-color: #6bba70;
      font-size: 10px; }
    .candidates .candidate .pending {
      font-size: 10px;
      padding: 3px 7px 3px 7px;
      background-color: #444343; }

.bold-button {
  background-color: #cc0000;
  border-width: 0px;
  font-weight: bold;
  color: white;
  padding: 5px 20px 5px 20px;
  -webkit-box-shadow: 5px 5px 10px #999;
  -moz-box-shadow: 5px 5px 10px #999; }

.form-button {
  background-color: #ffff88;
  border-width: 0px;
  font-size: 90%;
  font-weight: bold;
  padding: 1px 10px 1px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.new-candidate {
  background-color: #ffffbe;
  margin: 20px 20px 5px 20px;
  padding: 10px 0px 10px 25px;
  border: #ffff88 solid 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .new-candidate label {
    color: #990000;
    font-weight: bold; }
  .new-candidate textarea {
    height: 60px;
    padding: 5px;
    width: 390px; }
  .new-candidate #recruitment_step_selections, .new-candidate #recruiter_selections {
    padding: 5px;
    font-size: 90%;
    font-weight: bold; }

.field-error input, .field-error select, select.field-error {
  border: #cc0000 solid 2px; }

.time {
  text-transform: uppercase;
  text-align: center; }
  .time .month-time {
    font-size: 90%;
    background: #990000;
    border: #990000 2px solid;
    color: white; }
    .time .month-time .date-time {
      color: black;
      font-size: 150%;
      font-weight: bold;
      background: white; }
  .time .timestamp {
    font-size: 60%;
    color: gray; }

.events {
  margin: 20px 0 0 10px; }
  .events .event {
    padding: 5px;
    border-bottom: #eeeeee solid 1px;
    margin: 5px 20px 0px 5px; }
    .events .event label {
      color: #990000; }
    .events .event ul {
      list-style-type: none; }
    .events .event .event-calendar {
      margin-top: 10px; }
    .events .event .event-title {
      font-weight: bold; }

.new-event {
  background-color: #ffffbe;
  margin: 15px 20px 5px 15px;
  padding: 10px 10px 10px 10px;
  border: #ffff88 solid 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .new-event label {
    color: #990000;
    font-weight: bold; }

#recruitment-steps .scheduled_true {
  background-color: #6bba70; }
#recruitment-steps .scheduled_false {
  background-color: #444343; }
#recruitment-steps .recruitment-step-header {
  font-size: 10px;
  padding: 5px;
  margin: 1px;
  padding: 5px; }
  #recruitment-steps .recruitment-step-header a {
    padding: 2px;
    color: white; }
#recruitment-steps .recruitment-step-content {
  background-color: white;
  padding: 5px;
  margin: 1px;
  height: 100px; }

.calendar {
  width: 80px; }

.scheduled-event-title {
  background-color: #6bba70;
  padding: 2px 5px 2px 5px;
  text-align: center;
  width: 25%;
  color: white; }

.unscheduled-event-title {
  background-color: #444343;
  padding: 2px 5px 2px 5px;
  text-align: center;
  color: white; }

.dashboard a {
  font-weight: bold; }
.dashboard label {
  color: #990000; }
.dashboard ul {
  list-style-type: none; }
.dashboard .upcoming-event {
  cursor: pointer;
  cursor: hand; }
.dashboard .events {
  margin: 20px 0px 0px 30px; }
.dashboard #upcoming-event-detail {
  padding-top: 10px;
  background-color: #ffffbe;
  border: #ffff88 solid 4px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 20px 20px 20px 20px; }
