.new-event.span-14{:id=> dom_id(recruitment_step)}
	-remote_form_for(recruitment_step.event || Event.new(:recruitment_step=> recruitment_step)) do |form|
		%span{:class=>recruitment_step.scheduled? ? "scheduled-event-title" : "unscheduled-event-title"}
			=recruitment_step.recruitment_step_type.name 
		%span{:class=> "prepend-1", :id=> "#{dom_id(recruitment_step)}_message" }
			=@message
		%br
		%br
		=form.label :venue
		=form.text_field :venue
		%br
		
		=form.hidden_field :recruitment_step_id

		=form.label :start_time
		=form.datetime_select :start_time, {:include_blank => true, :minute_step => 15, :order => [:hour, :minute, :day, :month, :year], :date_separator => '/', :datetime_separator => ' at '}
		%br
		=form.label :end_time
		&nbsp;

		=form.datetime_select :end_time, {:include_blank => true, :minute_step => 15, :order => [:hour, :minute, :day, :month, :year], :date_separator => '/', :datetime_separator => ' at '}

		%center
			%br
			=form.submit recruitment_step.scheduled? ? "Update" : "Create", :class => "form-button"