.content-section.span-16
	.title
		%span Events &nbsp;
		%span.title-links
			=link_to("Upcoming", "#", :class=> "selected")
			=link_to("Past", "#")
			=link_to("Incomplete", "#")
	
	.events
		=render(@events) || (render(:partial  => "/shared/empty_collection", :locals => {:message => "No upcoming events"}))
				
=content_for :sidebar do
	.sidebar-section
		.schedule-a-step
			%center
				=link_to "Schedule a Step", new_event_url, :class => "bold-button"
		%br
		.subscribe-to-ical
			%center
				=link_to "Subscribe to Calendar", calendar_url(:format => :ics), :class  => "bold-button"