.content-section
	.title
		%span Events &nbsp;
		%span.title-links
			=link_to("Upcoming", "#", :class=> "selected")
			=link_to("Past", "#")
			=link_to("Incomplete", "#")
	
	.events
		=render @events
				
=content_for :sidebar do
	.sidebar-section
		%center
			=link_to "Schedule a Step", new_event_url, :class => "bold-button"