.content-section
	.title
		=label :candidate_id, "Select Candidate"
		&nbsp;
		=select "candidate", "id", current_recruiter.candidates.map{|candidate| [candidate.name, candidate.id]},{:include_blank => true}
		
		#recruitment_steps
			=render :partial => "recruitment_step", :collection => @candidate.recruitment_steps

:javascript
	$("#candidate_id").change(function() {
		candidate_id = $('#candidate_id :selected').val();
		if(candidate_id == "") {
			window.location = '/events/new';
		}else {
			window.location = '/candidates/' + candidate_id + '/events/new';
		}
	});