.content-section
	.title
		=label :select_candidate, "Select Candidate"
		&nbsp;
		=select "candidate", "selection", current_recruiter.candidates.map{|candidate| [candidate.name, candidate.id]}, {:include_blank => true}
		
		#event_details			
	%br					
				
=observe_field :candidate_selection, :url => {:action => 'event_details'}, :with => "'candidate_id='+$('#candidate_selection :selected').val()", :update=> "event_details"
