.content-section
	.title
		=label :candidate_id, "Select Candidate"
		&nbsp;
		=select "candidate", "id", current_recruiter.candidates.map{|candidate| [candidate.name, candidate.id]},{:include_blank => true}
		
		#recruitment_steps
	%br					

-remote_function_params =  {:url => {:action => 'recruitment_steps'}, :with => "'candidate_id='+$('#candidate_id :selected').val()", :update=> "recruitment_steps"}
	
=observe_field :candidate_id, remote_function_params
:javascript
	$(document).ready(function(){
		#{remote_function(remote_function_params)}
	});
