.schedule-selection.content-section.span-16
	.title
		=@controller.action_name.humanize
		Step:
		=link_to(@event.recruitment_step.candidate.name, candidate_url(@event.recruitment_step.candidate))

	.new-event.span-14
		-form_for(@event) do |form|
			%span{:class=> event_title_class(@event.recruitment_step)}
				=@event.recruitment_step.name
			%br
			%br
			=form.label :venue
			=form.text_field :venue
			%br

			=form.hidden_field :recruitment_step_id

			=form.label :start_time
			=form.datetime_select :start_time, {:prompt => true, :minute_step => 15, :order => [:hour, :minute, :day, :month, :year], :date_separator => '/', :datetime_separator => ' at '}
			%br
			=form.label :end_time
			&nbsp;

			=form.datetime_select :end_time, {:prompt => true, :minute_step => 15, :order => [:hour, :minute, :day, :month, :year], :date_separator => '/', :datetime_separator => ' at '}
			
			%br
			%br
			=text_field :participant, :name
			=hidden_field :participant, :id

			=link_to_remote "Add Participant", {:url=> {:action => "interviewer_selection"}, :with => "'participant_id='+$('#participant_id').val()", :update => {:success => "interviewer_selections"}, :position => :top, :complete => '$("input#participant_name").val("")'}, :class=> "form-button"
			#interviewer_selections
				-@event.interviewers.each do |interviewer|
					=render :partial=> "interviewer_selection",:locals =>{:interviewer=> interviewer}
			
			%br
			=form.label :comments
			%p
				=form.text_area :comment
			%center
				=form.submit "Save", :class => "bold-button"
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				
				=link_to "Cancel", candidate_schedule_url(@candidate), :class => "bold-button"

:javascript
	 $(document).ready(function() {
	   $("input#participant_name").autocomplete('#{auto_complete_for_participant_path}', {
				formatItem: function(data, position, length) {
					return data[1];
				},
				formatResult: function(data, position, length) {
					return data[1];
				}
		}).result(function(event, data) {
				$('input##participant_id').val(data[0]);
		})
	});

