.content-section.span-16
	.title
		%span Event &nbsp;
	.events
		=render :partial => 'event', :locals => {:event => @event }
		-unless @event.comment.nil?
			.event.span-14
				%b
					Comments
				%p
					=@event.comment
		-if @event.document?
			.event.span-14
				%b
					Attachments
				%p
					=link_to(@event.document.original_filename, @event.document.url)