.candidate 
	%ul
		%li 
			%b 
				=link_to(candidate.name, "#")
		%li
			%i
				=candidate.role.name
		%li 
			=label_tag "Email:"
			=mail_to candidate.email, candidate.email
		%li
			=label_tag "Phone:"
			=candidate.phone
		%li
			=label_tag "Recruiters:"
			=candidate.recruiters.collect(&:name).join(", ")
		%li
			=label_tag "Participants:"
			=candidate.participants.collect{|participant|participant.name}.join(", ")
		%li.action-links
			=link_to_if(candidate.resume?, "DOWNLOAD RESUME", candidate.resume.url){}
			%a{:href=> "#"} WATCH
			%a{:href=> "#"}	SEND A MESSAGE
	
	.recruitment_steps
		-candidate.recruitment_steps_completed.each do |recruitment_step|
			%span.completed
				= recruitment_step.recruitment_step_type.name
		-candidate.recruitment_steps_pending.each_with_index do |recruitment_step, index|
			%span.pending
				= recruitment_step.recruitment_step_type.name