.recruitment_step_type_selection
	-if(recruitment_step.new_record?)
		=hidden_field_tag "candidate[recruitment_step_type_selections][]", recruitment_step.recruitment_step_type.id
		=recruitment_step.name
		=link_to_function "x", "$(this).parent(\"div\").remove()", :class => "form-button"
	-else
		=recruitment_step.name
		-deselection_element= hidden_field_tag("candidate[recruitment_step_deselections][]", recruitment_step.id)
		=link_to_function "x", "if(confirm('Are you sure you want to remove this step?')) $(this).parent().html('#{deselection_element}')", :class => "form-button"
