-content_for :sidebar do
	.sidebar-section
		%center
			%p
				=link_to "New Feedback", "#{new_candidate_feedback_url(@candidate)}", :class => "bold-button"
			%p
				=link_to "Schedule a Step", "#{new_candidate_event_url(@candidate)}", :class => "bold-button"
