.event.span-14
	.span-2.event-calendar
		=render :partial => "/events/unknown_time", :locals=> {:time => Time.now}
	.span-10.last
		%ul
			%li{:class=> "event-title"}
				=link_to "#{unscheduled_recruitment_step.name}", new_candidate_recruitment_step_event_url(unscheduled_recruitment_step.candidate, unscheduled_recruitment_step)
				=link_to "[schedule]", new_candidate_recruitment_step_event_url(unscheduled_recruitment_step.candidate, unscheduled_recruitment_step), :class => 'edit-link'
			%li
				=label_tag "Time:"
			%li
				=label_tag "Venue:"
			%li
				=label_tag "Participants:"