.content-section.span-16
	.title
		%span Candidates &nbsp;
		%span.title-links
			=link_to("Assigned to me", "#", :class => "selected")
			=link_to("All", "#")
	
	.candidates
		=render @candidates

-content_for :sidebar do
	.sidebar-section
		%center
			%p
				=link_to "New Candidate", new_candidate_url, :class => "bold-button"

:javascript
	register_event_clicktips = function() {
		$(".event-clicktip").each(function(){
		event_id_url= this.id
		 $(this).qtip({
			   content: {
			      url: event_id_url
				},
				style: {
					padding: 5,
					width: 500
				}
			});	
		})

		$(".unscheduled-event-clicktip").each(function(){
			$(this).qtip({
				content: "Recruitment step not scheduled",
				style: {width: 210}
			})
		})
	};
	register_event_clicktips();