.content-section
	.title
		%span Candidates
		%span.title-links
			=link_to("My Assignments", "#")
			=link_to("Watchlist", "#")
			=link_to("All", "#")
	
	.candidates
		=render @candidates

=content_for :sidebar do
	.sidebar-section
		%center
			=link_to "New Candidate", new_candidate_url, :class => "bold-button"