.content-section
	.title
		%span New Candidate
	-form_for @candidate, :url => candidates_path do |form|
		.new-candidate.span-14
			.title-subheader Candidate Profile
			.span-12
				=form.label :name
				%br
				=form.text_field :name

			.span-6
				=form.label :email
				%br
				=form.text_field :email

			.span-6.last
				=form.label :phone
				%br
				=form.text_field :phone
		
			.span-6
				=form.label :role
				%br
				=form.select :role, Role.all.map(&:name)

			.span-6.last
				=form.label :source
				%br
				=form.text_field :source
			.span-12
				=form.label :resume
				%br
				=form.file_field :resume

			.span-12
				=form.label :skillset
				%br
				=form.text_area :skillset
				
		.new-candidate.span-14
			.title-subheader Recruitment Details
			.span-6
				=form.label :recruiters
				%br
				=select "recruiter","selection", Recruiter.all.collect{|r|[r.name, r.id]}
				%span.form-button 
					=link_to_function "Add", "add_selected_element('recruiter_selection', 'recruiter_selections')"
				#recruiter_selections
				
			.span-6.last
				=form.label :recruitment_steps			
				%br
				=select "recruitment","step", RecruitmentStepType.all.collect{|r|[r.name, r.id]}
				%span.form-button				
					=link_to_function "Add", "add_selected_element('recruitment_step', 'recruitment_steps')"
				#recruitment_steps
			.span-12
				=form.label :comments
				%br
				=form.text_area :comments


		%center
			=form.submit "Save", :class => "bold-button"
		%br
		
		:javascript
			add_selected_element = function(select_element_id, placeholder_element_id) {
				selected_option = $('#' + select_element_id + ' :selected');
				placeholder = $('#' + placeholder_element_id);
				hidden_field = "<input type='hidden' name='" + placeholder_element_id + "[]' value='" + selected_option.val() + "' />";
				text = selected_option.text();
				remove_link = "<a href='#' onclick= '$(this).parent(\"div\").remove(); return false;' class='form-button right'>Remove</a>";
				placeholder.append("<div>"+  text + hidden_field + remove_link + "</div>");
			}