.content-section.span-16
	.title
		%span 
			="#{action_name.camelcase} Candidate"
	-form_for @candidate, :html => { :multipart => true } do |form|
		.new-candidate.span-14
			.title-subheader Candidate Profile
			.span-12
				=form.label :name, "Name*"
				%br
				=form.text_field :name

			.span-6
				=form.label :email, "Email*"
				%br
				=form.text_field :email

			.span-6.last
				=form.label :phone, "Phone*"
				%br
				=form.text_field :phone
		
			.span-6
				=form.label :role, "Role*"
				%br
				=form.select :role_id, Role.all.map{|role|[role.name, role.id]}

			.span-6.last
				=form.label :source, "Source*"
				%br
				=form.text_field :source
			.span-12
				=form.label :resume
				%br
				=form.file_field :resume
				%p 
					%i
						=@candidate.resume.original_filename if @candidate.resume?
				
			.span-12
				=form.label :skillset
				%br
				=form.text_area :skillset
				
		.new-candidate.span-14
			.title-subheader Recruitment Details
			.span-6
				=form.label :recruiters, "Recruiters*"
				%br
				=select "recruiter","selection", Recruiter.all.collect{|r|[r.name, r.id]},{} ,:class=> ('field-error' unless @candidate.errors.on(:recruiters).blank?)

				=link_to_remote "Add", {:url=> {:action => "recruiter_selection"}, :with => "'recruiter_id='+$('#recruiter_selection :selected').val() + '&new_record=true'", :update => {:success => "recruiter_selections"}, :position => :top}, :class=> "form-button"
				#recruiter_selections
					-@candidate.recruiters.each do |recruiter|
						=render :partial=> "recruiter_selection",:locals =>{:recruiter=> recruiter, :new_record => false}
				
			.span-6.last
				=form.label :recruitment_steps, "Recruitment Steps*"	
				%br
				=select "recruitment_step","selection", RecruitmentStepType.all.collect{|r|[r.name, r.id]},{}, :class=> ('field-error' unless @candidate.errors.on(:recruitment_steps).blank?)
				
				=link_to_remote "Add", {:url=> {:action => "recruitment_step_type_selection"}, :with => "'recruitment_step_type_id='+$('#recruitment_step_selection :selected').val()", :update => {:success => "recruitment_step_selections"}, :position => :top}, :class=> "form-button"
								
				#recruitment_step_selections
					-@candidate.recruitment_steps.each do |recruitment_step|
						=render :partial=> "recruitment_step_type_selection",:locals =>{:recruitment_step=> recruitment_step}
				
			.span-12
				=form.label :comments
				%br
				=form.text_area :comments
		.span-14
			%br
		.span-14			
			%center
				=form.submit "Save", :class => "bold-button"
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				=link_to "Cancel", candidates_url, :class => "bold-button"
		.span-14
			%br