.content-section
	.title
		%span New Candidate
	-form_for @candidate, :html => { :multipart => true } do |form|
		.new-candidate.span-14
			.title-subheader Candidate Profile
			.span-12
				=form.label :name, "Name*"
				%br
				=form.text_field :name

			.span-6
				=form.label :email, "Email*"
				%br
				=form.text_field :email

			.span-6.last
				=form.label :phone, "Phone*"
				%br
				=form.text_field :phone
		
			.span-6
				=form.label :role, "Role*"
				%br
				=form.select :role_id, Role.all.map{|role|[role.name, role.id]}

			.span-6.last
				=form.label :source, "Source*"
				%br
				=form.text_field :source
			.span-12
				=form.label :resume
				%br
				=form.file_field :resume

			.span-12
				=form.label :skillset
				%br
				=form.text_area :skillset
				
		.new-candidate.span-14
			.title-subheader Recruitment Details
			.span-6
				=form.label :recruiters, "Recruiters*"
				%br
				=select "recruiter","selection", Recruiter.all.collect{|r|[r.name, r.id]},{} ,:class=> ('field-error' unless @candidate.errors.on(:recruiters).blank?)
				%span.form-button 
					=link_to_function "Add", "add_selected_element('candidate', 'recruiter_selection')"
				#recruiter_selections
				
			.span-6.last
				=form.label :recruitment_steps, "Recruitment Steps*"	
				%br
				=select "recruitment_step","selection", RecruitmentStepType.all.collect{|r|[r.name, r.id]},{}, :class=> ('field-error' unless @candidate.errors.on(:recruitment_steps).blank?)
				%span.form-button				
					=link_to_function "Add", "add_selected_element('candidate',  'recruitment_step_selection')"
				#recruitment_step_selections
				
			.span-12
				=form.label :comments
				%br
				=form.text_area :comments

		%center
			=form.submit "Save", :class => "bold-button"
		%br