.content-section
	.title
		%span New Candidate
	-form_for :candidate, :url => candidates_path do |form|
		.new-candidate.span-14
			.title-subheader Candidate Profile
			.span-12
				=form.label :name
				%br
				=form.text_field :name

			.span-6
				=form.label :email
				%br
				=form.text_field :email

			.span-6.last
				=form.label :phone
				%br
				=form.text_field :phone
		
			.span-6
				=form.label :role
				%br
				=form.select :role, Role.all.map(&:name)

			.span-6.last
				=form.label :source
				%br
				=form.text_field :source
			.span-12
				=form.label :resume
				%br
				=form.file_field :resume

			.span-12
				=form.label :skillset
				%br
				=form.text_area :skillset
				
		.new-candidate.span-14
			.title-subheader Recruitment Details
			.span-6
				=form.label :recruiters
				%br
				=form.select :recruiters, Recruiter.all.map(&:name)
				%span.form-button
					=link_to "Add", "#"
		
			.span-6.last
				=form.label :recruitment_steps
				%br
				=form.select :recruitment_steps, RecruitmentStepType.all.map(&:name)
				%span.form-button				
					=link_to "Add", "#"
			.span-12
				=form.label :comments
				%br
				=form.text_area :comments


		%center
			=form.submit "Save", :class => "bold-button"
		%br