.content-section.span-16
	.title
		%span Candidate
		=render :partial=> "navigation"
	.events
		=render @events
		=render :partial => 'unscheduled_recruitment_step', :collection => @unscheduled_recruitment_steps
			
=render :partial => "/candidates/sidebar"

