.content-section.span-16
	.title
		%span Candidate
		=render :partial=> "navigation"
	.candidates	
		.candidate.span-14 
			=render :partial=> 'candidate_profile', :locals=> {:candidate => @candidate}
			%ul
				-unless @candidate.skillset.blank?
					%li
						%p
							=label_tag "Skillset:"
							=@candidate.skillset
				
				-unless @candidate.comments.blank?
					%li
						%p
							=label_tag "Comments:"
							=@candidate.comments

.content-section.span-16
	.title
		%span Recruitment History
	.recruitment-activities
		=render :partial => '/dashboard/recruitment_activity', :collection => RecruitmentActivity.recent(@candidate)

=render :partial => "/candidates/sidebar"