.content-section.span-16
	.title
		%span Candidate
		=render :partial=> "navigation"
	.candidates	
		.candidate.span-14 
			%ul
				%li 
					%b 
						=@candidate.name
					=link_to "[edit]", edit_candidate_url(@candidate), :class=> "edit-record"
				=render :partial=> 'candidate_profile', :locals=> {:candidate => @candidate}
				%br
			
				-if @candidate.skillset
					%li
						%p
							=label_tag "Skillset:"
							=@candidate.skillset
					
				-if @candidate.comments
					%li
						%p
							=label_tag "Comments:"
							=@candidate.comments

.content-section.span-16
	.title
		%span Activities
	.recruitment-activities
		=render :partial => '/dashboard/recruitment_activity', :collection => RecruitmentActivity.recent(@candidate)

=render :partial => "/candidates/sidebar"