Select Step:
=select :recruitment_step, :id, @recruitment_steps.collect{|rs|["#{rs.name} #{'√' if rs.scheduled?}", rs.id]}, {:include_blank => true}, :onchange => remote_function(:url => {:action => :navigate_to_recruitment_step}, :with => "'recruitment_step_id=' + $('#recruitment_step_id :selected').val()")