%html
	%head
		=stylesheet_link_tag("blueprint/screen.css", "global.css", "jquery.autocomplete.css")
		=javascript_include_tag("jquery", "jrails", "application", "jquery.qtip-1.0.0-rc3.min", "jquery.bgiframe.min", "jquery.autocomplete.min", "jquery.ezpz_hint.min.js")
		%title
			YourHires: 
			=controller_name.humanize
		
		=yield :head
	%body
		.page
			.container
				.company-title.span-18
					ThoughtWorks
					%span.user
						=current_recruiter.name
				.span-4
					=render :partial=> "/candidates/candidate_search"
					
				.navigation.span-16
					.navigation-item{:class=> 'dashboard-navigation-item'}
						=link_to("Dashboard", dashboard_url)
					.navigation-item{:class=> 'candidates-navigation-item feedbacks-navigation-item'}
						=link_to("Candidates", assigned_candidates_url)
					.navigation-item{:class=> 'events-navigation-item'}
						=link_to("Schedules", events_url)
					.navigation-item{:class=> 'inbox-navigation-item'}
						=link_to("Settings", "#")
				.content.span-16
					=yield
				.sidebar.span-6.last
					=yield :sidebar

:javascript
	$(".#{controller_name}-navigation-item").addClass("selected");

	$("#global-candidate-selection").change(function(){
		selected_candidate_id = $('#global-candidate-selection :selected').val();
		if(selected_candidate_id == "") {
			window.location = '#{candidates_url}';
		}else {
			window.location = '/candidates/' + selected_candidate_id;
		}
	});