%html
	%head
		=stylesheet_link_tag("blueprint/screen.css", "global.css")
	%body
		.page
			.container
				%span.title
					ThoughtWorks
				%span.user
					=current_user.name
				.navigation
					.navigation-item{:id=> 'dashboard-navigation-item'}
						=link_to("Dashboard", dashboard_url)
					.navigation-item{:id=> 'candidates-navigation-item'}
						=link_to("Candidates", candidates_url)
					.navigation-item{:id=> 'events-navigation-item'}
						=link_to("Events", "/")
					.navigation-item{:id=> 'inbox-navigation-item'}
						=link_to("Inbox", "/")
				.content.span-16
					=yield
				.sidebar.span-6
					Sidebar
		:javascript
			element= document.getElementById("#{controller.class.to_s.gsub('Controller', '').downcase}-navigation-item");
			element.setAttribute("class", "navigation-item selected");

