%html
	%head
		=stylesheet_link_tag("blueprint/screen.css", "global.css")
		=javascript_include_tag("jquery", "jrails", "application", "jquery.qtip-1.0.0-rc3.min")
		
		=yield :head
	%body
		.page
			.container
				%span.company-title
					ThoughtWorks
				%span.user
					=current_recruiter.name
				%span.global-candidate-selection
					=select "candidate", "id", recruiter_candidate_options(current_recruiter), {:include_blank=> "Select Candidate"}, :id=> "global-candidate-selection"
					
				.navigation
					.navigation-item{:id=> 'dashboard-navigation-item'}
						=link_to("Dashboard", dashboard_url)
					.navigation-item{:id=> 'candidates-navigation-item'}
						=link_to("Candidates", candidates_url)
					.navigation-item{:id=> 'events-navigation-item'}
						=link_to("Schedules", events_url)
					.navigation-item{:id=> 'inbox-navigation-item'}
						=link_to("Settings", "#")
				.content.span-16
					=yield
				.sidebar.span-6
					=yield :sidebar

:javascript
	$("##{controller_name}-navigation-item").addClass("selected");

	$("#global-candidate-selection").change(function(){
		selected_candidate_id = $('#global-candidate-selection :selected').val();
		if(selected_candidate_id == "") {
			window.location = '#{candidates_url}';
		}else {
			window.location = '/candidates/' + selected_candidate_id;
		}
	});