%html
	%head
		=stylesheet_link_tag("blueprint/screen.css", "global.css")
		=javascript_include_tag("jquery", "jquery-ui", "jrails", "application")
	%body
		.page
			.container
				%span.title
					ThoughtWorks
				%span.user
					=current_recruiter.name
				.navigation
					.navigation-item{:id=> 'dashboard-navigation-item'}
						=link_to("Dashboard", dashboard_url)
					.navigation-item{:id=> 'candidates-navigation-item'}
						=link_to("Candidates", candidates_url)
					.navigation-item{:id=> 'events-navigation-item'}
						=link_to("Events", events_url)
					.navigation-item{:id=> 'inbox-navigation-item'}
						=link_to("Settings", "/")
				.content.span-16
					=yield
				.sidebar.span-6
					=yield :sidebar
		:javascript
			navigation_item = "#{controller.class.to_s.gsub('Controller', '').downcase}-navigation-item";
			element= document.getElementById(navigation_item);
			element.setAttribute("class", "navigation-item selected");

